.pagination {
	li{
		input{
			padding: 5px 10px;
			font-size: 12px;
			line-height: 1.6666667;
			min-width: 32px;
			width: 32px;
			box-sizing: border-box;
			border: 0;
			background-color: #f5f5f5;
			height: 32px;
			color: #000;
			background-color: #2196f3;
			text-align: center;
			border-radius: 3px;
			float: left;
		}
	}
}
