
.panel {
	.panel-heading {
		.icons-list a[data-action=add]:after {
			content: "\e9f7";
		}
	}

	&.panel-overlay {
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: #ffffff7d;
			z-index: 1;
			content: '';
		}
	}

	&.panel-error {
		border: 1px solid #ff0000;
	}

	.panel-spinner {
		position: absolute;
		top: 50%;
		right: 0;
		left: 50%;
		bottom: 0;
		z-index: 1;
		content: '';
	}

	.panel-body {
		display: none;
		&.active {
			display: block;
		}
	}
}

.table {
	.btn-group {
		a {
			margin-right: 3px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
