.lb-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	.lbw-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.8;
		z-index: -1;
	}

	.lbw-content, .lbwc-content {
		width: 100%;
		height: 100%;
		display: block;

	}

	.lbwc-content{
		display: flex;
		align-items: center;
	}
}
